@media(max-width: 991px) {
  .data-header {
    flex-wrap: wrap;
  }
  .mesto-header-left {
    width: 50%;
    order: 2;
    display: block;
    border: none;
  }
  .data-reg {
    width: 50%;
    order: 3;
    display: block;
    border: none;
  }
  .mesto-header-left > a {
    font-size: 12px;
    text-align: left;
    display: block;
    width: 100%;
    padding: 5px 9px;
    border-bottom: 1px solid #c9c9c9;
  }
  .data-reg__link {
    font-size: 12px;
    width: 100%;
    text-align: right;
    display: block;
    padding: 5px 0 5px 9px;
    border-bottom: 1px solid transparent;
  }
  .data-reg__link:hover::after {
    display: none;
  }
  .mesto-burger {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-top: 0;
    position: relative;
  }
  .mesto-burger span {
    width: 20px;
    height: 2px;
    display: block;
    position: absolute;
    background-color: #00a19e;
    transition: 0.3s all;
  }
  .mesto-burger__wrapper {
    display: block;
    width: 100%;
    order: 1;
    text-align: right;
    margin-bottom: 8px;
  }
  .data-header {
    padding-top: 14px;
  }
  .sk-index__line {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
  }
  .sk-index__title {
    font-size: 25.5px;
    max-width: 196px;
  }
  .sk-index__line:before {
    height: 35px;
    left: 15px;
    width: 70px;
    background-position: left center;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  .sk-index__line:after {
    height: 35px;
    right: 15px;
    width: 70px;
    background-position: right center;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  .sk-index__abonitem {
    display: block;
  }
  .sk-index__abonright {
    width: 100%;
    text-align: center;
    margin-top: 27px;
  }
  .sk-index__abontitle {
    font-size: 30px;
  }
  .sk-index__abonsubtitle {
    font-size: 14px;
    margin-top: 5px;
  }
  .sk-index__matchitem {
    display: block;
  }
  .sk-index__matchleft {
    width: 100%;
    text-align: center;
  }
  .sk-index__matchcenter {
    width: 100%;
  }
  .sk-index__matchright {
    width: 100%;
    text-align: center;
    margin-top: 26px;
  }
  .sk-index__matchtitle {
    font-size: 30px;
  }
  .sk-index__matchsubtitle {
    font-size: 14px;
    margin-top: 5px;
  }
  .sk-index__abonbutton,
  .sk-index__abonbutton {
    font-size: 25px;
  }
  .sk-index__abonleft {
    text-align: center;
    width: 100%;
  }
  .sk-index__partneritem {
    width: 50%;
  }
}
@media(max-width: 360px) {
  .data-reg {
    width: 40%;
  }
  .mesto-header-left {
    width: 60%;
  }
  .sk-index__matchcom1 {
    margin-right: 0;
  }
  .sk-index__matchcom2 {
    margin-left: 0;
  }
}