
.sk-pay{
    display: flex;
    padding-top: 30px;
    padding-bottom: 75px;
    overflow: hidden;
}
.sk-pay-l{
    width: 322px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sk-pay-l-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sk-pay-text{
    font-family: "LeagueGothic";
    font-size: 29px;
    margin-bottom: 41px;
}

.sk-pay-l a{
    font-family: "LeagueGothic";
    font-size: 25px;
    color: #9a9a9a;
    transition: 0.3s all;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    padding: 17px 33px;
    border: 1px solid #febe10;
}
.sk-pay-l a:hover{
    background-color: #febe10;
    color: #ffffff;
}
.pay-alert{
    font-size: 14px;
    font-weight: bold;
    padding: 25px 30px;
    background-image: url('../img/prepay/alertfon.png');
    background-size: cover;
    height: 171px;
    overflow: hidden;
    margin-top: 40px;
}


.sk-pay-r{
    flex: 1;
    height: max-content;
    margin-left: 45px;
    padding-left: 45px;
    border-left: 1px solid #c9c9c9;
}
.sk-pay-r p{
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 18px;
}
.pay-img-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.pay-img-row img{
    
    margin: 0 15px;
    max-width: calc(100% / 5);
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}

@media(max-width: 1199px){
    .pay-img-row img{
        max-width: calc(100% / 3);
    }
    .sk-pay{
        padding-top: 20px;
    }
   
    
}

@media(max-width: 1023px){
    .sk-pay{
        flex-direction: column;
    }
    .sk-pay-l{
        width: 100%;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    
    .pay-alert{
        width: 322px;
        min-width: 322px;
        margin-top: 0;
    }
    .sk-pay-r{
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
        margin-top: 50px;
    }
}

@media(max-width: 767px){
    .sk-pay-r p{
        font-size: 14px;
    }
    .sk-wrap{
        margin: 0 15px;
    }
    .sk-pay-l{
        flex-direction: column;
        align-items: center;
    }
    .pay-alert{
        margin-top: 50px;
    }
    .sk-pay-l{
        padding-top: 0;
    }
    .pay-img-row{
        margin: 30px 0;
    }
}

@media(max-width: 559px){
    .pay-img-row img{
        max-width: 50%;
    }
    .sk-pay-l{
        margin: 0;
    }
}
@media(max-width: 374px){
    .pay-alert{
        width: 100%;
        min-width: 100%;
        background-size: 100% 100%;
        height: 150px;
        padding: 10px 20px;
    }
}