*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//эти стили нужно убрать
body{
    background-color: #ccc;
}
.width-container{
    background-color: #ffffff;
}
//эти стили нужно убрать
@font-face {
    font-family: "LeagueGothic";
    src: url("../fonts/LeagueGothicRegular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "NeoSansPro";
    src: url("../fonts/NeoSansPro-Regular.otf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "NeoSansPro";
    src: url("../fonts/NeoSansPro-Bold.otf") format("truetype");
    font-weight: bold;
}

body {
    font-family: "NeoSansPro", "Arial", sans-serif;
    font-kerning: normal;
    font-size: 15px;
    color: black;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;

   

}
.width-container {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.sk-wrap{
    margin: 0 49px;
}
.sk-pay{
    display: flex;
    padding-top: 99px;
    padding-bottom: 75px;
    overflow: hidden;
}
.sk-pay-l{
    width: 322px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 53px;
}
.sk-pay-l-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sk-pay-text{
    font-family: "LeagueGothic";
    font-size: 29px;
    margin-bottom: 41px;
}

.sk-pay-l a{
    font-family: "LeagueGothic";
    font-size: 25px;
    color: #9a9a9a;
    transition: 0.3s all;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    padding: 17px 33px;
    border: 1px solid #febe10;
}
.sk-pay-l a:hover{
    background-color: #febe10;
    color: #ffffff;
}
.pay-alert{
    font-size: 14px;
    font-weight: bold;
    padding: 25px 30px;
    background-image: url('../img/prepay/alertfon.png');
    background-size: cover;
    height: 171px;
    overflow: hidden;
    margin-top: 114px;
}


.sk-pay-r{
    flex: 1;
    height: max-content;
    margin-left: 45px;
    padding-left: 45px;
    border-left: 1px solid #c9c9c9;
}
.sk-pay-r p{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 17px;
}
.sk-pay-r p:last-child{
    margin-bottom: 0;
}
.pay-img-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.pay-img-row img{
    
    margin: 0 15px;
    max-width: calc(100% / 5);
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}

@media(max-width: 1199px){
    .pay-img-row img{
        max-width: calc(100% / 3);
    }
    .sk-pay{
        padding-top: 20px;
    }
   
    
}

@media(max-width: 1023px){
    .sk-pay{
        flex-direction: column;
    }
    .sk-pay-l{
        width: 100%;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    
    .pay-alert{
        width: 322px;
        min-width: 322px;
        margin-top: 0;
    }
    .sk-pay-r{
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
        margin-top: 50px;
    }
}

@media(max-width: 767px){
    .sk-wrap{
        margin: 0 15px;
    }
    .sk-pay-l{
        flex-direction: column;
        align-items: center;
    }
    .pay-alert{
        margin-top: 50px;
    }
    .sk-pay-l{
        padding-top: 0;
    }
}

@media(max-width: 559px){
    .pay-img-row img{
        max-width: 50%;
    }
    .sk-pay-l{
        margin: 0;
    }
}
@media(max-width: 374px){
    .pay-alert{
        width: 100%;
        min-width: 100%;
        background-size: 100% 100%;
        height: 150px;
        padding: 10px 20px;
    }
}


.sk-data{
    padding-top: 126px;
    display: flex;
    justify-content: center;
    padding-bottom: 81px;
}
.sk-data-item {
    margin-bottom: 20px;
}
.sk-data-item input{
    width: 310px;
    height: 41px;
    padding: 0 15px;
    border: 1px solid #c9c9c9;
    font-family: "NeoSansPro";
}
.sk-data-item input:focus{
    outline: none;
}
.sk-data-item {
    position: relative;
}
.sk-data-item label{
    font-size: 25px;
    font-family: "LeagueGothic";
    color: #00a19e;
    top: 50%;
    position: absolute;
    left: -15px;
    transform: translate(-100%, -50%);
}
.sk-data-item label span{
    position: absolute;
    color: #febe10;
    right: 0;
    transform: translateX(100%);
}
.sk-data button{
    font-family: "LeagueGothic";
    font-size: 25px;
    color: #9a9a9a;
    transition: 0.3s all;
    padding: 17px 33px;
    width: 192px;
    border: 1px solid #febe10;
    background-color: transparent;
}
.sk-data button:hover{
    background-color: #febe10;
    color: #ffffff;
    cursor: pointer;
}
.sk-data button:focus{
    outline: none;
}
.sk-data form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width: 1199px){
    .sk-data{
        padding-top: 50px;
    }
}
@media(max-width: 767px){
    .sk-data-item label{
        position: relative;
        transform: translate(0, 0);
        top: auto;
        left: auto;
        width: max-content;
        margin-bottom: 5px;
    }
    .sk-data-item{
        display: flex;
        flex-direction: column;

    }
}
@media(max-width: 374px){
    .sk-data-item input{
        width: 100%;
    }
    .sk-data-item{
        width: 100%;
    }
    .sk-data form{
        width: 100%;
    }
}


//заказы
.sk-zakaz{
    padding-top: 100px;
}
.zakaz-top form{
    padding-left: 20px;
    display: flex;
}
.zakaz-top label{
    margin: 0 13px;
}
.zakaz-top-item{
    position: relative;
}
.zakaz-top input{
    width: 184px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #c9c9c9;
    position: relative;
    z-index: 2;
}
.zakaz-top input:focus{
    outline: none;
}
.zakaz-top-item img{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}
.zakaz-top button{
    font-family: "LeagueGothic";
    margin-left: 19px;
    width: 146px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #febe10;
    font-size: 25px;
    color: #9a9a9a;
    transition: 0.3s all;
    cursor: pointer;
}
.zakaz-top button:focus{
    outline: none;
   
}
.zakaz-top button:hover{
    background-color: #febe10;
    color: #ffffff;
}

.zakaz-bot table thead  td{
    padding: 20px 15px;
    font-size: 14px;
    text-transform: uppercase;
}
.zakaz-bot table tbody td{
    padding: 24px 0;
    font-family: "LeagueGothic";
    font-size: 22px;
}
.zakaz-bot table tbody td span{
    display: none;
}
.zakaz-bot table tbody tr{
    border-bottom: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
}
.zakaz-bot table{
    border-spacing: 0px;
    border-collapse: collapse;
}
.zakaz-bot table{
    text-align: center;
    width: 100%;
}
.zakaz-t-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.zakaz-t-btn a{
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #febe10;
    color: #b6b6b6;
    font-family: "LeagueGothic";
    width: 134px;
    transition: 0.3s all;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
}
.zakaz-t-btn a:hover{
    color: #ffffff;
    background-color: #febe10;
}
.zakaz-top{
    margin-bottom: 33px;
}
.sk-zakaz{
    padding-bottom: 50px;
}
.zakaz-form-flex{
    display: flex;
}
.ui-state-active, .ui-widget-content .ui-state-active{
    background-color: #febe10;
    border: 1px solid #febe10;
    color: #ffffff;
}
.ui-widget{
    font-family: inherit;
}
@media(max-width: 1199px){
    .zakaz-bot table thead td{
        padding: 20px 5px;
    }
    .sk-zakaz{
        padding-top: 20px;
    }
    .zakaz-t-btn a{
        width: 115px;
    }
    
}
@media(max-width: 1023px){
    .zakaz-bot table thead td{
        font-size: 12px;
    }
    .zakaz-bot table tbody td{
        font-size: 20px;
    }
}
@media(max-width: 991px){
    .zakaz-t-btn a {
        width: 87px;
        font-size: 18px;
        height: 35px;
    }
    .zakaz-bot table tbody td {
        font-size: 16px;
        padding: 15px 0;
    }
    
    .zakaz-top form{
        padding-left: 0;
    }
    .zakaz-top input{
        font-size: 16px;
    }
    .zakaz-top input{
        width: 155px;
        height: 35px;
    }
    .zakaz-top button{
        font-size: 20px;
        width: 100px;
        height: 35px;
    }
}
@media(max-width: 767px){
    .zakaz-bot table thead{
        display: none;
    }
    .zakaz-bot table tbody td span{
        display: block;
        font-family: "NeoSansPro", "Arial", sans-serif;
        font-size: 14px; 
        width: 50%;
        text-align: left;
    }
    .zakaz-bot table tbody td div{
        width: 50%;
        text-align: right;
    }
    .zakaz-bot table tbody{
        display: flex;
        flex-wrap: wrap;
    }
    .zakaz-bot table tbody tr{
        display: flex;
        width: calc(100% / 2 - 20px);
        flex-direction: column;
        border: 1px solid #c9c9c9;
        padding: 10px 10px;
        margin: 0 10px;
        margin-bottom: 25px;
    }
    .zakaz-bot table tbody tr td{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #c9c9c9;
        font-size: 18px;
    }
    .zakaz-bot table tbody tr td:last-child{
        border-bottom: 0;
    }
    table tbody td div.zakaz-t-btn{
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 20px;
    }
    .zakaz-t-btn a{
        width: 120px;
        margin-bottom: 10px;
    }
    .zakaz-top input{
        width: 135px
    }
    .zakaz-top-item img{
        right: 5px;
    }
    .zakaz-top input{
        padding-left: 10px;
    }
}

@media(max-width: 559px){
    .zakaz-bot table tbody tr{
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
    }
    table tbody td div.zakaz-t-btn{
        flex-direction: row;
    }
    .zakaz-top-item{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    .zakaz-top label{
        margin: 0;
        margin-bottom: 5px;
    }
    .zakaz-top-item img{
        top: auto;
        bottom: 3px;
    }
    .zakaz-top form{
        display: flex;
        align-items: flex-end;
    }
}

@media(max-width: 450px){
    .zakaz-top form{
        flex-direction: column;
        align-items: center;
    }
    .zakaz-top button{
        margin-top: 25px;
        width: 148px;
        height: 40px;
    }
    .zakaz-top input{
        width: 100%;
    }
    .zakaz-form-flex{
        margin-right: -10px;
    }
    table tbody td div.zakaz-t-btn{
        flex-direction: column;
    }
}


//выбор места
.mesto{
    padding-top: 50px;
    padding-bottom: 100px;
}
.mesto-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}
.mesto-header-left{
    display: flex;
    font-family: "NeoSansPro";
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #c9c9c9;
    font-size: 14px;
}
.mesto-header-left > a{
    padding: 13px 18px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: inherit;
}
.mesto-header-left > a:hover{
    border-bottom: 2px solid #febe10;
}
.mesto-reg {
    display: flex;
    font-family: "NeoSansPro";
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #c9c9c9;
    font-size: 14px;
}
.mesto-reg > a{
    padding: 13px 18px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: inherit;
}
.mesto-reg > a:hover{
    border-bottom: 2px solid #febe10;
}
.merop{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.merop-item{
    text-align: center;
}
.merop-item img{
    margin: 0 auto;
    height: 104px;
}
.merop-item > div{
    font-size: 26px;
    font-family: "LeagueGothic";
    margin-top: 10px;
}
.merop-center{
    padding: 0 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4px;
}

.merop-center > div{
    font-size: 30px;
    font-family: "LeagueGothic";
}
.merop-center .mesto-name{
    font-size: 17px;
    font-family: "NeoSansPro";
}


.plashka{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a2543;
    margin-bottom: 50px;
}
.plashka > div{
    width: 546px;
    text-align: center;
    color: #ffffff;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "NeoSansPro";
}



.mesto-info{
    display: flex;
    align-items: flex-start;
    padding-bottom: 55px;
    margin-bottom: 45px;
    border-bottom: 1px solid #c9c9c9;
}
.mesto-info-l{
    margin-top: 15px;
    display: flex;
    flex: 0 0 395px;
    justify-content: space-between;
    padding: 0 37px;
    flex-wrap: wrap;
}
.mesto-info-item span{
    display: block;
    width: 18px;
    height: 18px;
}
.mesto-info-item{
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 26px;
    font-family: "LeagueGothic";
}
.mesto-info-item span{
    margin-right: 17px;
}
.mesto-info-item span.active{
    background-color: #fab31a;
}
.mesto-info-item span.disable{
    background-color: #d2d2d2;
}

.mesto-alert{
    font-size: 14px;
    padding: 15px;
    border: 1px solid #c9c9c9;
    position: relative;
}
.mesto-alert:before{
    content: "";
    background-image: url("../img/ugol.png");
    width: 24px;
    height: 23px;
    display: block;
    position: absolute;
    left: -1px;
    bottom: 0;
    transform: translateY(100%);
    background-color: #ffffff;
}

.mesto-table{
    overflow: auto;
}
.mesto-table table{
    width: 100%;
    border-spacing: 4px;
    min-width: 1024px;
    padding:  0 30px;
}
.mesto-table table td{
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
    transition: 0.1s all;
}
.mesto-table table td.active{
    background-color: #febe10;
    cursor: pointer;
}
.mesto-table table td.zakaz{
    background-color: #00173f;
}
.mesto-table table td.active:hover{
    background-color: #00173f;
}
.mesto-table table td.dis{
    background-color: #c9c9c9;
    cursor: default;
}
.mesto-table table th{
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 13px;
}
.mesto-table table th:first-child{
    padding-right: 50px;
}
.mesto-table table th:last-child{
    padding-left: 50px;
}
.mesto-table table tfoot{
    margin-top: 5px;
}
.mesto-table table tfoot th{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.led{
    margin-top: 20px;
}
.led-title{
    font-size: 32px;
    border-top: 1px solid #00a19e;
    border-bottom: 1px solid #00a19e;
    color: #00a19e;
    line-height: 36px;
    font-weight: bold;
    height: 64px;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.led-content{
    display: flex;
}
.led-sum{
    font-family: "LeagueGothic";
    flex: 0 0 22%;
    text-align: right;
    font-size: 29px;
    margin-right: 50px;
}
.led-wrap{
    flex:  1;
}
.led-img{
    position: relative;
    width: 493px;
    font-size: 25px;
    font-family: "LeagueGothic";
    color: #00a19e;
}
.led-img span:last-child{
    color: #032145;
}
.led-img span:first-child{
    width: 70px;
    display: inline-block;
}
.led-img img{
    width: 100%;
}
.led-ltext{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 26%;
}
.let-rtext{
    position: absolute;
    right: 22px;
    bottom: 20px;
}
.let-rtext > div{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.led-item{
    display: flex;
}
.led-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.led-right button{
    width: 198px;
    height: 65px;
    background-color: transparent;
    border: 1px solid #febe10;
    font-size: 25px;
    font-family: "LeagueGothic";
    color: #9a9a9a;
    cursor: pointer;
    transition: 0.3s all;
}
.led-right button:hover{
    background-color: #febe10;
    color: #ffffff;
}
.led-right button:focus{
    outline: none;
}

.bilet-modal{
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.5);
}
.modal-wrap{
    width: 693px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 28px 45px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 25px;
    height: 25px;
    background-color: #d2d2d3;
    cursor: pointer;
}
.modal-close span{
    position: absolute;
    width: 90%;
    height: 3px;
    display: block;
    background-color: #ffffff;
}
.modal-close span:first-child{
    transform: rotate(45deg);
    top: 11px;
    right: 1px;
}
.modal-close span:last-child{
    transform: rotate(135deg);
    top: 11px;
    right:1px;
}
.modal-title{
    font-family: "LeagueGothic";
    color: #00a19e;
    font-size: 41px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 10px;
}
.modal-wrap p{
    font-size: 17px;
}
.modal-pay{
    margin: 35px 0;
    display: flex;
    justify-content: center;
}
.modal-pay a{
    font-family: "LeagueGothic";
    width: 192px;
    height: 62px;
    color: #9a9a9a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid #febe10;
    transition: 0.3s;
}
.modal-pay a:hover{
    background-color: #febe10;
    color: #ffffff;
}
.modal-alert{
    margin-top: 20px;
    padding: 25px;
    width: 396px;
    position: relative;
    margin-bottom: 25px;
    overflow: visible;
}
.modal-alert svg{
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}
.modal-wrap img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
}


@media(max-width: 1199px){
    .led-sum{
        margin-right: 25px;
    }
    .led-right button{
        width: 160px;
        height: 60px;
    }
    .mesto-table table{
        min-width: 992px;
    }
    .mesto-table table{
        padding: 0;
    }
    .mesto-table table th:first-child{
        padding-right: 15px;
    }
    .mesto-table table th:last-child {
        padding-left: 15px;
    }
}


@media(max-width: 1023px){
    .led-content{
        display: flex;
        flex-direction: column;
    }
    .led-sum{
        display: flex;
        text-align: left;
        margin-bottom: 25px;
    }
    .led-img{
        width: 450px;
    }
    .mesto-info-l{
        flex:  0 0 335px;
        padding:  0 20px;
    }
}

@media(max-width: 767px){
    .plashka > div{
        width: 345px;
    }
    .mesto{
        padding-top: 20px;
    }
    .mesto-info-l{
        flex:  0 0 auto;
        flex-direction: column;
    }
    .mesto-info-item{
        width: 100%;
    }
    .mesto-header-left > a{
        padding: 15px;
    }
    .mesto-reg > a{
        padding: 15px;
    }

    .mesto-header{
        flex-direction: column-reverse;
    }
    .mesto-reg{
        justify-content: center;
    }
    .mesto-header-left{
        justify-content: center;
    }
    .led-img{
        width: 325px;
    }
    .led-img{
        font-size: 20px;
    }
    .led-ltext{
        left: 23%;
    }
    .merop-center{
        padding: 0 25px;
    }
    .merop-center > div{
        font-size: 25px;
    }
    .merop-center .mesto-name{
        text-align: center;
        font-size: 15px;
    }
    .modal-wrap{
        width: 540px;
    }
    .modal-alert{
        background-color: #ffffff;
        border: 1px solid #c9c9c9;
    }
    .modal-alert svg{
        display: none;
    }
    .modal-wrap img{
        height: 250px;
    }
    .modal-alert:before {
        content: "";
        background-image: url(../img/ugol.png);
        width: 24px;
        height: 23px;
        display: block;
        position: absolute;
        left: -1px;
        bottom: 1px;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        background-color: #ffffff;
    }
}

@media(max-width: 559px){
    .plashka > div{
        width: auto;
        font-size: 30px;
        padding: 0 20px;
    }
    .led-item{
        flex-direction: column;
    }
    .led-img{
        width: 100%;
    }
    .led-right{
        margin-top: 10px;
    }
    .modal-wrap{
        width: 400px;
        position: relative;
        top: auto;
        left: 50%;
        transform: translate(-50%, 0);
        height: 100%;
    }
    .bilet-modal{
        overflow: auto;
    }
    .modal-alert{
        width: 100%;
    }
    .modal-title{
        font-size: 35px;
    }
    .modal-wrap p{
        font-size: 16px;
    }
}
@media(max-width: 424px){
    .modal-wrap{
        width: 100%;
    }
    .mesto-info{
        display: flex;
        flex-direction: column;
    }
    .mesto-info-item{
        width: 50%;
    }
    .mesto-info-l{
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
    }
    .led-sum{
        font-size: 20px;
    }
    .mesto-header-left > a{
        padding: 10px;
    }
    .mesto-header-left{
        margin: 0 -10px;
    }
    .plashka > div{
        font-size: 20px;
    }
    .plashka img{
        height: 100%;
    }
    .plashka{
        height: 40px;
        margin-bottom: 25px;
    }
    .mesto-header{
        margin-bottom: 25px;
    }
    .mesto-info{
        margin-bottom: 25px;
    }
    .led-title{
        font-size: 25px;
        height: 50px;
        margin-bottom: 25px;
    }
}

@media(max-width: 374px){
    .modal-title{
        font-size: 30px;
    }
    .modal-wrap{
        padding: 25px 15px;
    }
    .mesto-header-left{
        font-size: 12px;
    }
    .merop-item img{
        height: 80px;
    }
    .merop-item > div{
        font-size: 20px;
    }
    .mesto-info-item{
        font-size: 20px;
    }
    .led-ltext{
        left: 21%;
    }
    .let-rtext {
        position: absolute;
        right: 7px;
        bottom: 9px;
    }
    .led-right button {
        width: 140px;
        height: 45px;
    }
}